name: Build and Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install pyinstaller pillow control sympy matplotlib pylatex numpy scipy

    - name: Build Windows EXE
      if: runner.os == 'Windows'
      run: |
        pyinstaller --noconfirm --onefile --windowed --name "RootLocus_Windows" --icon "assets/icon.ico" --hidden-import "latex" --add-data "assets;assets" --add-data "src/root_locus_analyzer.py;." src/interface.py

    - name: Build Linux Binary
      if: runner.os == 'Linux'
      run: |
        pyinstaller --noconfirm --onefile --windowed --name "RootLocus_Linux" --hidden-import "latex" --add-data "assets:assets" --add-data "src/root_locus_analyzer.py:." src/interface.py

    - name: Upload Artifacts to Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          dist/RootLocus_Windows.exe
          dist/RootLocus_Linux
